<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Blog <%= title %></title>
</head>


<body>
    <% const name="Anik" %>
        <h1>Node Ejs Engine</h1>
        <p>Hi <%= name %>
        </p>
        <%- include('./partials/nav.ejs') %>
            <div>
                <h1>All Blogs </h1>
                <hr>
                <% if(blogs.length>0){ %>
                    <% blogs.forEach(blog=> { %>
                        <a href="/blogs/<%= blog._id %>">
                        <h3>
                            <%= blog.title %>
                        </h3>
                        <p>
                            <%= blog.description %>
                        </p>
                    </a>

                        <% }) %>
                            <% }else{ %>
                                <p style="color: red;">No Blog Found</p>
                                <% } %>

            </div>
</body>

</html>